body{
    background-color: black;
    color: #41FF00;
    font-family: 'Courier New', Courier, monospace;
}

table {
    table-layout: fixed ;
    width: 100% ;
}

td {
    width: 25% ;
}

